/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Arial Black', Gadget, sans-serif;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav-button {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: 0.3s;
}

.nav-button:hover {
  background-color: white;
  color: black;
} */
