body {
  margin: 0;
  background-color: #1e1e1e; /* fondo oscuro */
  color: white;
  font-family: 'Arial', sans-serif;
}

header, footer {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
}

main {
  padding-top: 80px;  /* espacio para el header */
  padding-bottom: 60px; /* espacio para el footer */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px); /* sin header/footer */
}
